<nav class="pagination">
<div class="page-links">
    <!--<div class="btn-group">-->

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="{{ "/" | relative_url }}" class="page-link-left">&laquo;</a>
          {% else %}

          <a href="/page{{ paginator.previous_page }}/" class="page-link-left">&laquo;</a>
          {% endif %}
        {% endif %}

        {% if paginator.page == 1 %}
        <a href="{{ "/" | relative_url }}" class="page-link-left" title="首页">&laquo;</a>
        {% endif %}

        
        {% for count in (2..paginator.page) %}
        {% if count == paginator.page %}
        <a href="javascript:;" class="page-link-left">{{count}}</a>
        {% else %}
        <a href="/page{{count}}" class="page-link-left">{{count}}</a>
        {% endif %}
        {% endfor %}
        
        {% if paginator.next_page %}
        <!--<a href="javascript:;" class="page-link-left">{{ paginator.page }}</a>-->
        <a href="/page{{ paginator.next_page }}/" class="page-link-right">&raquo;</a>
        {% endif %}
    <!--</div>-->
</div>
</nav>